html {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  padding: 0 200 0 0;
  background-color: #48d1cc;
}

h1 {
  font-family: sans-serif;
  margin: 50 auto 0 auto;
  color: darkblue;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-top: 5px dotted rgb(135, 133, 133);
  border-width: 5px;
}

.top-container {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
}

.intro {
  margin: 50px auto;
  position: relative;
  width: 60%;
}

#details {
  margin: 50px auto;
  position: relative;
  width: 60%;
}

.middle-container {
  background-color: #fff;
}

#contact-me {
  margin: 19% auto;
  background-color: #fff;
  margin: 50px auto;
}

/* Navigation Bar */
nav {
  position: fixed;
}

.navbar-brand {
  color: black;
}

.business-card {
  margin: 10px auto;
}
