html {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  padding: 0 200 0 0;
  background-color: dimgray;
}

h1 {
  font-family: sans-serif;
  margin: 50 auto 0 auto;
  color: darkblue;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-top: 5px dotted rgb(135, 133, 133);
  border-width: 5px;
}

.top-container {
  position: relative;
  text-align: center;
}

.intro {
  margin: 50px auto;
  position: relative;
  width: 60%;
}

.details {
  margin: 50px auto;
  position: relative;
  width: 60%;
}

.contact-me {
  margin: 50px auto;
}
